<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CRUD</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body style="padding-left: 20px; padding-right: 20px;">

    <div id="app" class="contaniner">
        <form style="margin-top: 20px;">
            <div class="form-group">
                <input v-if="todo==null" @keydown.enter.prevent="addtodo" type="text" class="form-control"
                    id="inputtext" placeholder="เพิ่มสิ่งที่ต้องทำ">

                <input v-else @keydown.enter.prevent="edittodo" type="text" class="form-control" id="inputtext"
                    :value="todo.text" placeholder="แก้ไชสิ่งที่ต้องทำ">
            </div>
        </form>

        <nav aria-label="Page navigation example" style="margin-top: 16px;">
            <ul class="pagination">
                <li class="page-item" v-if="pagenumber!=0"><a class="page-link" href="#"
                        @click="pagenumber--">Previous</a></li>
                <li class="page-item" v-for="page in getNumberOfPage"><a class="page-link" href="#"
                        @click="pagenumber=page-1">{{page}}</a></li>
                <li class="page-item" v-if="pagenumber!=getNumberOfPage-1"><a class=" page-link" href="#"
                        @click="pagenumber++">Next</a></li>
            </ul>
        </nav>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Todo</th>
                    <th scope="col">Operation <button type="button" v-if="todo!=null" class="btn btn-success"
                            @click="addNew">AddNew</button></th>

                </tr>
            </thead>

            <tbody>

                <tr v-for="todo in gettodoBypaging">
                    <th scope="row">{{todo.id}}</th>
                    <td>{{todo.text}}</td>
                    <td>
                        <button type="button" @click="editOperation(todo)" class="btn btn-warning">Edit</button>
                        <button type="button" @click="deleOperation(todo)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>

            </tbody>

        </table>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                lastid: 5,
                todo: null,
                pagenumber: 0,
                pagesize: 3,
                todos: [
                    {
                        id: 1,
                        text: 'ล้างจาน'
                    },
                    {
                        id: 2,
                        text: 'ซักผ้า'
                    },
                    {
                        id: 3,
                        text: 'ทำการบ้าน'
                    },
                    {
                        id: 4,
                        text: 'เล่นเกม'
                    },
                ],
            },
            methods: {
                addtodo: function (event) {
                    var newTodo = {
                        id: this.lastid++,
                        text: event.target.value
                    };
                    this.todos.push(newTodo);
                    event.target.value = "";
                },
                editOperation: function (todo) {
                    console.log(todo);
                    this.todo = todo;
                },
                edittodo: function (event) {
                    this.todo.text = event.target.value;
                    this.todo = null;
                },
                deleOperation: function (todo) {
                    var index = this.todos.findIndex(t => t.id == todo.id);
                    this.todos.splice(index, 1);
                },
                addNew: function (todo) {
                    this.todo = null;
                },
            },
            computed: {
                gettodoBypaging: function () {
                    var begin = this.pagenumber * this.pagesize;
                    var end = begin + this.pagesize;
                    return this.todos.slice(begin, end);
                },
                getNumberOfPage: function () {
                    return Math.ceil(this.todos.length / this.pagesize)
                }
            },
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>